<!DOCTYPE html>
<html>
    <head>
        <title>adres</title>
        <style type="text/css">
        .main{
            text-align: center;
            position: relative;
            top: 200px;
        }
        </style>
    </head>
    <body>
        <div class="main">
            <form method="post" action="/process">
                <input type="text" name="query" placeholder="search term">
                <input type="submit" name="submit" value="search">
            </form>
        </div>
    </body>
</html>