<!DOCTYPE html>
<html>
    <head>
        <title>adres</title>
        <style type="text/css">
        .main{
            text-align: center;
            position: relative;
            top: 200px;
        }
        </style>
    </head>
    <body>
        <div class="main">
            <span>LOL</span>
            <span> <%= list %></span>
        </div>
    </body>
</html>