<!DOCTYPE html>
<html>
    <head>
        <title>adres</title>
        <style type="text/css">
        .main{
            text-align: center;
            position: relative;
            top: 200px;
        }
        </style>
    </head>
    <body>
        <div class="main">
            <% list.each do |item| %>
                <span><%= item["_source"]["name"] %></span>

                <span><%= item["_source"]["enr"] %></span>

                <span><%= item["_source"]["label"] %></span>

                <br>
            <% end %>
        </div>
    </body>
</html>